/* Adjusts styling for whole body of HTML - maintains white background and adjusts font family */
body {
    background-color: white;
    font-family:'Times New Roman', Times, serif;
}

/* Styles the div that contains the highscore link and timer */
.nav-bar {
    width: 95%;
    margin: 20px;
}

/* Makes the link to view highscores appear at the left side of the page */
#highscore-link {
    float: left;
}

/* Makes the timer appear at the right side of the page */
#timer {
    float: right;
}

/* Styles large font class divs */
.large-font {
    font-size: 45px;
    text-align: center;
    font-weight: 500;
    padding-top: 100px;
    padding-bottom: 50px;
    width: 75%;
    margin: 0 auto;
}

/* Styles medium font class divs */
.medium-font {
    font-size: 25px;
    text-align: center;
    font-weight: 350;
    padding-bottom: 50px;
    width: 75%;
    margin: 0 auto;
}

/* Shifts the question more towards the center, away from top of page */
#question {
    padding-top: 100px;
    font-weight: 700;
}

/* Styles the start button */
#start-button {
    font-size: 35px;
    margin: 0 auto;
}

/* Provides general styling for buttons */
.button {
    font-size: 20px;
    display: block;
    color: white;
    background: radial-gradient(circle, purple, darkorchid 100%);
    cursor: pointer;
    transition-duration: 0.2s;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 8px;
}

/* Places answer buttons more towards center */
#answer-buttons {
    margin: 0 auto;
    width: 50%
}

/* Hides any element with this class */
.hide {
    display: none;
}